@model proekt_turizam.Models.Tour

@{
    ViewBag.Title = "Edit";
}

<div class="d-flex justify-content-center align-items-center" style="min-height: 90vh;">
    <div class="card shadow-lg" style="background-color: #F9F2E8; width: 50%; border-radius: 20px;">
        <div class="card-body">
            <h2 class="text-center mb-4">Edit Tour</h2>
            <hr />

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()
                @Html.ValidationSummary(true, "", new { @class = "text-danger mb-3" })
                @Html.HiddenFor(model => model.TourId)

                <dl class="row">
                    <dt class="col-sm-4 fw-bold">@Html.LabelFor(m => m.Title)</dt>
                    <dd class="col-sm-8">
                        @Html.EditorFor(m => m.Title, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(m => m.Title, "", new { @class = "text-danger" })
                    </dd>

                    <dt class="col-sm-4 fw-bold">@Html.LabelFor(m => m.ShortDescription)</dt>
                    <dd class="col-sm-8">
                        @Html.EditorFor(m => m.ShortDescription, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(m => m.ShortDescription, "", new { @class = "text-danger" })
                    </dd>

                    <dt class="col-sm-4 fw-bold">@Html.LabelFor(m => m.Description)</dt>
                    <dd class="col-sm-8">
                        @Html.EditorFor(m => m.Description, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(m => m.Description, "", new { @class = "text-danger" })
                    </dd>

                    <dt class="col-sm-4 fw-bold">@Html.LabelFor(m => m.TourType)</dt>
                    <dd class="col-sm-8">
                        @Html.EnumDropDownListFor(m => m.TourType, new { @class = "form-select" })
                        @Html.ValidationMessageFor(m => m.TourType, "", new { @class = "text-danger" })
                    </dd>

                    <dt class="col-sm-4 fw-bold">@Html.LabelFor(m => m.City)</dt>
                    <dd class="col-sm-8">
                        @Html.EditorFor(m => m.City, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(m => m.City, "", new { @class = "text-danger" })
                    </dd>

                    <dt class="col-sm-4 fw-bold">@Html.LabelFor(m => m.Region)</dt>
                    <dd class="col-sm-8">
                        @Html.EditorFor(m => m.Region, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(m => m.Region, "", new { @class = "text-danger" })
                    </dd>

                    <dt class="col-sm-4 fw-bold">@Html.LabelFor(m => m.Price)</dt>
                    <dd class="col-sm-8">
                        @Html.EditorFor(m => m.Price, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(m => m.Price, "", new { @class = "text-danger" })
                    </dd>

                    <dt class="col-sm-4 fw-bold">@Html.LabelFor(m => m.StartDate)</dt>
                    <dd class="col-sm-8">
                        @Html.TextBoxFor(m => m.StartDate, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
                        @Html.ValidationMessageFor(m => m.StartDate, "", new { @class = "text-danger" })
                    </dd>

                    <dt class="col-sm-4 fw-bold">@Html.LabelFor(m => m.EndDate)</dt>
                    <dd class="col-sm-8">
                        @Html.TextBoxFor(m => m.EndDate, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date" })
                        @Html.ValidationMessageFor(m => m.EndDate, "", new { @class = "text-danger" })
                    </dd>

                  

                    <dt class="col-sm-4 fw-bold">Main Image</dt>
                    <dd class="col-sm-8">
                        <input type="file" name="MainImage" class="form-control" />
                    </dd>
                </dl>

                <div class="text-center mt-4">
                    <input type="submit" value="Save" class="btn btn-success mx-2" />
                    @Html.ActionLink("Back to List", "../Home/Index", null, new { @class = "btn btn-success mx-2" })
                </div>
            }
        </div>
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
