@model proekt_turizam.Models.SavedTour

@{
    ViewBag.Title = "Create";
}

<h2>Do you want to save this tour?</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.HiddenFor(model => model.TourId)

    <div class="form-horizontal">
        <h4>You're saving: @ViewBag.TourTitle (@ViewBag.TourCity, @ViewBag.TourRegion)</h4>
        <p>Price: @ViewBag.TourPrice €</p>


        <input type="submit" value="Save" class="btn btn-primary" />
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
